$color-primary: yellow;
$color-dark: black;
$color-light: white;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    background: $color-primary;
}

.eyes{
    display: flex;
}

.eyes .black{
    width: 75px;
    height: 75px;
    background: black;
    border-radius: 50%;
    margin: 0 90px;
    display: inline-block;
    position: relative;
    top: -70px;
}


.eyes .black::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
    /* z-index: 1; */
    box-sizing: border-box;
}

.nose {
    background-color: $color-dark;
    position: absolute;
    top: 51%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    height: 34px;
    width: 35px;

}

.mouth-1 {
    position: absolute;
    top: 53%;   
    left: 47.5%;
    height: 68px;
    transform: translate(-50%, -50%);
    /* background-color: $color-dark; */
    /* border-color: transparent transparent $color-dark transparent; */
    border: 3px solid $color-dark;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 50%;
    width: 5.5%;
}
    
.mouth-2 {
    position: absolute;
    top: 53%;
    left: 53%;
    height: 68px;
    transform: translate(-50%, -50%);
    /* border-color: transparent transparent $color-dark transparent;
    border-radius: 50%; */
    border: 3px solid $color-dark;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 50%;
    width: 5.5%;
}

.blushes{
    display: flex;
}

.blush-1 {
    position: absolute;
    top: 60%;
    left: 36%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    background: red;
    clip-path: circle(42%);
}
.blush-2 {
    position: absolute;
    top: 60%;
    left: 64.5%;
    height: 100px;
    width: 100px;
    transform: translate(-50%, -50%);
    background: red;
    clip-path: circle(42%);
}

// -------------------------------------




